extends layout

block content
  h1 Title: !{book.title}

  p #[strong 著者: ]
    a(href=book.author.url) #{book.author.name}
  p #[strong サマリー:] !{book.summary}
  p #[strong 蔵書番号:] #{book.isbn}
  p #[strong ジャンル: ]
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |,&nbsp;

  div(style='margin-left:20px;margin-top:20px')
    h2(style='font-size: 1.5rem;') 蔵書

    each val in book_instances
      hr
      if val.status=='Available'
        p.text-success #{val.status}
      else if val.status=='Maintenance'
        p.text-danger #{val.status}
      else
        p.text-warning #{val.status}
      p #[strong 出版社:] #{val.imprint}
      if val.status!='Available'
        p #[strong 返却日:] #{val.due_back}
      p #[strong Id: ]
        a(href=val.url) #{val._id}

    else
      p この本は図書館にありません。

  hr
  p
    a(href=book.url+'/delete') 書籍を削除
  p
    a(href=book.url+'/update') 書籍を更新
