extends layout

block content
  h1= 地域図書館ウェブサイト
  p 地域図書館へようこそ。これは、Mozilla Developer Network でチュートリアルのサンプルとして開発された非常に基本的な Express Web サイトです。

  h1 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong 書籍:] !{book_count}
    li #[strong 冊数:] !{book_instance_count}
    li #[strong 貸出可能な冊数:] !{book_instance_available_count}
    li #[strong 作者:] !{author_count}
    li #[strong ジャンル:] !{genre_count}
