extends layout

block content
  h1= title
  p 地域図書館へようこそ。これは、Mozilla Developer Network でチュートリアルのサンプルとして開発された非常に基本的な Express Web サイトです。

  h1 ダイナミックコンテンツ

  p The library has the following record counts:

  ul
    li #[strong Books:] !{book_count}
    li #[strong Copies:] !{book_instance_count}
    li #[strong Available Copies:] !{book_instance_available_count}
    li #[strong Authors:] !{author_count}
    li #[strong Genres:] !{genre_count}
